<div class="container">
    <div class="col s12">
        <div class="card-panel green white-text center">Weekly Shifts for waiters</div>
    </div>
    <table>
        <tr>
            <th>Day of the Week</th>
            <th>Number of waiters Available</th>
        </tr>
        {{#each data.days}}
        <tr>
            <td>{{this.day_name}}</td>
            <td>{{this.waiters}}</td>
        </tr>
        {{/each}}
    </table>
    <form id="reset"action="/days" method="post">
    </form>
        <button class="btn btn-large green" type="submit" form="rest">Reset</button>
</div>