<div class="container">
    <div class="col s12">
        <div class="card-panel green white-text center">Select days that you are available to work</div>
    </div>
    <div style="height:30px"></div>
    <form id="shiftForm" action="" method="post" class="">
        {{#each data.days}}
        <div class="">
            <p>
                <label>
                    <input type="checkbox" selected="{{selected}}" name="days" value="{{this.day_name}}">
                    <span>{{this.day_name}}</span>
                </label>
            </p>
        </div>
        {{/each}}
    </form>
    <div style="height:30px"></div>

    <button class="btn btn-large green" type="submit" form="shiftForm">Submit</button>

    <div class="card-panel green white-text center">Days you selected to work</div>
    <ul class="collection">
        {{#each data.shift}}
        <li class="collection-item">{{this}}</li>
        {{/each}}
    </ul>
    <div style="height:300px"></div>
</div>