.box {
  width: 125px;
  height: 50px;
  float: left;
  margin: 2px;
  text-align: center;
}

.entry {
  border: 1px solid aquamarine;
  background-color: azure;
  height: auto;
  color: cadetblue;
}

.entry p {
  padding: 10px;
}

body {
  background-color: ghostwhite;
}